singularity {
  enabled = true
  autoMounts = true
  libraryDir = "/net/nwgc/vol1/home/czaka/tools/mitoscope/nextflow/pipeline/images"
  cacheDir = "/net/nwgc/vol1/home/czaka/tools/mitoscope/nextflow/pipeline/images"

}

params {
  mitoscope = 'images/mitoscope_0.1.0.sif'
  samtools = 'images/samtools_1.21.sif'
  bcftools = 'images/bcftools_1.21.sif'
  kmctools = 'images/kmc_3.2.1.sif'
  minimap = 'images/minimap2_2.24.sif'
  pigz = 'images/pigz_2.3.4.sif'
  minimod = 'images/minimod_0.4.0.sif'
  mosdepth = 'images/mosdepth_0.3.8.sif'
  baldur = 'images/baldur_1.2.2.sif'
  mutserve = 'images/mutserve_2.0.3.sif'
  sniffles = 'images/sniffles_2.6.2.sif'
  flye = 'images/flye_2.9.6.sif'
  bedtools = 'images/bedtools_2.31.0.sif'
  haplogrep = 'images/haplogrep_3.2.2.sif'
  haplocheck = 'images/haplocheck_1.3.3.sif'
  // ucsc-bedgraphtobigwig = 'images/ucsc-bedgraphtobigwig_445.sif'

  kmc_pre = 'resources/MT.k29.kmc_pre'
  kmc_suf = 'resources/MT.k29.kmc_suf'
  mt_ref = 'resources/MT.fasta'
  mt_mmi_hifi = 'resources/MT-hifi.mmi'
  mt_mmi_ont = 'resources/MT-ont.mmi'
  mitomap_anno_file = 'resources/annotations/CombinedDiseaseVariantDB.csv'

  flye_min_overlap = 2500
}


process {
  executor = 'local'  
  scratch = true
  // container = ''

  cpus = 4
  memory = '8 GB'

  withName: BAM_TO_FASTQ {
    cpus = 4
    memory = '8 GB'
  }

  withName: COMPRESS_FASTQ {
    cpus = 16
    memory = '8 GB'
  }

  withName: KMER_SELECTION {
    cpus = 16
    memory = '8 GB'
  }

  withName: ALIGN_TO_REF {
    cpus = 16
    memory = '8 GB'
  }

}