singularity {
  enabled = true
  autoMounts = true
  libraryDir = "/net/nwgc/vol1/home/czaka/tools/mitoscope/nextflow/pipeline/images"
  cacheDir = "/net/nwgc/vol1/home/czaka/tools/mitoscope/nextflow/pipeline/images"
}

params {
  // singularity images
  sif_repo= 'oras://quay.io/czakarian/mitoscope'

  // mitoscope = 'oras://quay.io/czakarian/mitoscope:mitoscope_0.1.0'
  python = 'oras://quay.io/czakarian/mitoscope:python_3.11'
  samtools = 'oras://quay.io/czakarian/mitoscope:samtools_1.21'
  bcftools = 'oras://quay.io/czakarian/mitoscope:bcftools_1.21'
  kmctools = 'oras://quay.io/czakarian/mitoscope:kmc_3.2.1'
  minimap = 'oras://quay.io/czakarian/mitoscope:minimap2_2.24_with_samtools_1.21'
  pigz = 'oras://quay.io/czakarian/mitoscope:pigz_2.8'
  minimod = 'oras://quay.io/czakarian/mitoscope:minimod_0.4.0'
  mosdepth = 'oras://quay.io/czakarian/mitoscope:mosdepth_0.3.8'
  baldur = 'oras://quay.io/czakarian/mitoscope:baldur_1.2.2'
  mutserve = 'oras://quay.io/czakarian/mitoscope:mutserve_2.0.3'
  sniffles = 'oras://quay.io/czakarian/mitoscope:sniffles_2.6.2'
  // flye = 'oras://quay.io/czakarian/mitoscope:flye_2.9.6'
  bedtools = 'oras://quay.io/czakarian/mitoscope:bedtools_2.31.0'
  haplogrep = 'oras://quay.io/czakarian/mitoscope:haplogrep_3.2.2'
  haplocheck = 'oras://quay.io/czakarian/mitoscope:haplocheck_1.3.3'
  seqtk = 'images/seqtk_1.5.sif'
  flye = 'images/flye_2.9.6_with_seqtk_1.5.sif'


  // resources 
  kmc_pre = 'resources/MT.k29.kmc_pre'
  kmc_suf = 'resources/MT.k29.kmc_suf'
  mt_ref = 'resources/MT.fasta'
  mt_mmi_hifi = 'resources/MT-hifi.mmi'
  mt_mmi_ont = 'resources/MT-ont.mmi'
  mitomap_anno_file = 'resources/annotations/CombinedDiseaseVariantDB.csv'

  // misc params
  mplconfigdir = '/tmp/mplconfig'
  haplogrep_tree = 'phylotree-rcrs@17.2'

  // configurable parameters
  max_sc_threshold = 200
  max_meth_threshold_per_read = 0.5
  meth_likelihood_threshold = 0.5 
  min_sv_support = 2

  // assembly paramters
  flye_min_overlap = 2500
  flye_iterations = 10
  flye_bp_tolerance = 100
  num_downsampled_reads = 100


}

executor {
  queueSize = "20"
  cpus = 32
  memory = '400GB'
}

process {
  executor = 'local'  
  scratch = true

  cpus = 4
  memory = '8 GB'

  withName: ALIGNED_CRAM_TO_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: ALIGNED_BAM_TO_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: UNALIGNED_BAM_TO_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: UNALIGNED_CRAM_TO_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: COMPRESS_FASTQ {
    cpus = 8
    memory = '16 GB'
  }

  withName: KMER_SELECTION {
    cpus = 8
    memory = '16 GB'
  }

  withName: ALIGN_TO_REF {
    cpus = 8
    memory = '16 GB'
  }

  withName: FILTER_NUMTS {
    cpus = 1
    memory = '8 GB'
  }

  withName: FILTERED_BAM_TO_FASTQ {
    cpus = 8
    memory = '8 GB'
  }

  withName: MT_ASSEMBLY {
    cpus = 8
    memory = '128 GB'
  }

}